langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
langchain-text-splitters
chromadb
tiktoken
python-dotenv
pypdf
docx2txt
streamlit
langchain_classic
langchain_text_splitters
langchain-huggingface
sentence-transformers
langchain-openai
torch 
torchvision 
torchaudio
